@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    user-select: none;
}

:root {
    --body-color: #FFFFFF;

    --background-color-white: #FFFFFF;
    --background-color-yellow: #FFCA3B;

    --text-color-black: #000000;
    --text-color-yellow: #FFCA3B;
    --text-color-white: #FFFFFF;

    --h1-font-size: 3rem;
    --h2-font-size: 2rem;
    --p-font-size: 1rem;
}

body {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--body-color);
}

body.overflow {
    overflow: hidden;
}

h1 {
    color: var(--text-color-black);
    font-size: var(--h1-font-size);
}

h2 {
    color: var(--text-color-black);
    font-size: var(--h2-font-size);
}

p {
    color: var(--text-color-black);
    font-size: var(--p-font-size);
}

.yellow {
    color: var(--text-color-yellow);
}

a {
    color: var(--text-color-yellow);
    text-decoration: underline;
}





/* -- Section certification présentation -- */
.presentation__certif {
    height: max-content;
    width: 100%;
    display: flex;
    margin-top: 65px;
}

.presentation__certif .container__certif {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.container__certif .title-pres {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.container__certif img {
    width: 100%;
    max-width: 400px;
    min-width: 200px;
}


/* -- Section cards Certif -- */
.certif {
    height: max-content;
    width: 100%;
    display: flex;
}

.container__cardCertif {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    flex-wrap: wrap;
}

.container__cardCertif a {
    position: relative;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: .6s;
    text-decoration: none;
    cursor: pointer;
    max-width: 500px;
    min-width: 200px;
    width: 100%;
    max-height: 330px;
    min-height: 150px;
    overflow: hidden;
}

.container__cardCertif a:hover {
    box-shadow: none;
    transition: .6s;
}

.container__cardCertif img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.container__cardCertif .description {
    position: absolute;
    background-color: var(--background-color-white);
    height: 50px;
    width: 100%;
    margin-top: -4px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 0 0 10px 10px;
    bottom: 0;
    left: 0;
    font-size: var(--p-font-size);
    text-align: center;
}




/* Responsive */
@media screen and (max-width: 700px) {
    :root {
        --h1-font-size: 2rem;
        --h2-fon-size: 1.5rem;
        --p-font-size: 1rem;
    }
}