@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    user-select: none;
}

:root {
    --body-color: #FFFFFF;

    --background-color-white: #FFFFFF;
    --background-color-yellow: #FFCA3B;

    --text-color-black: #363636;
    --text-color-yellow: #FFCA3B;
    --text-color-white: #FFFFFF;

    --h1-font-size: 3rem;
    --h2-font-size: 2rem;
    --p-font-size: 1rem;
}

body {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--body-color);
}

body.overflow {
    overflow: hidden;
}

h1 {
    color: var(--text-color-black);
    font-size: var(--h1-font-size);
}

h2 {
    color: var(--text-color-black);
    font-size: var(--h2-font-size);
}

p {
    color: var(--text-color-black);
    font-size: var(--p-font-size);
}

.yellow {
    color: var(--text-color-yellow);
}

a {
    color: var(--text-color-yellow);
    text-decoration: underline;
}




/* -- Section de présentation -- */
.presentation {
    margin-top: 40px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content__pres {
    margin: auto;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.content__pres .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}



.ml6 {
    position: relative;
}
  
.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}
  
.ml6 .letter {
    display: inline-block;
    line-height: 1em;
}





.content__pres img {
    width: 100%;
    max-width: 700px;
    min-width: 150px;
}




/* -- Section a informatique -- */
.informatique {
    height: min(100vh, 110%);
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.informatique .content__informatique {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.content__informatique .text {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content__informatique img {
    width: 100%;
    max-width: 400px;
    min-width: 200px;
}




/* -- Section a propos -- */
.propos {
    height: min(100vh, 110%);
    width: 100%;
    display: flex;
}

.propos .content__propos {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.content__propos .text {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content__propos img {
    width: 100%;
    max-width: 400px;
    min-width: 200px;
}




/* -- Section photo -- */
.photo {
    height: min(100vh, 110%);
    width: 100%;
    display: flex;
}

.photo .content__photo {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.content__photo .text {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content__photo img {
    width: 100%;
    max-width: 450px;
    min-width: 50px;
}

.mf-cursor {
    color: var(--background-color-yellow);
}

.mf-cursor.-yellow {
    color: var(--text-color-black);
}





/* Responsive */
@media screen and (max-width: 700px) {
    :root {
        --h1-font-size: 2rem;
        --h2-font-size: 1.5rem;
        --p-font-size: 1rem;
    }

    .propos .content__propos,
    .photo .content__photo,
    .informatique .content__informatique {
        flex-direction: column;
        text-align: center;
    }

    .content__propos .text,
    .content__photo .text,
    .content__informatique .text {
        width: 100%;
    }
}