@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    user-select: none;
}

:root {
    --body-color: #FFFFFF;

    --background-color-white: #FFFFFF;
    --background-color-yellow: #FFCA3B;

    --text-color-black: #000000;
    --text-color-yellow: #FFCA3B;
    --text-color-white: #FFFFFF;

    --h1-font-size: 3rem;
    --h2-font-size: 2rem;
    --p-font-size: 1rem;
}

body {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--body-color);
}

body.overflow {
    overflow: hidden;
}

h1 {
    color: var(--text-color-black);
    font-size: var(--h1-font-size);
}

h2 {
    color: var(--text-color-black);
    font-size: var(--h2-font-size);
}

p {
    color: var(--text-color-black);
    font-size: var(--p-font-size);
}

.yellow {
    color: var(--text-color-yellow);
}

a {
    color: var(--text-color-yellow);
    text-decoration: underline;
}





/* -- Section certification présentation -- */
.presentation__veille {
    height: 100vh;
    width: 100%;
    display: flex;
    margin-top: 65px;
}

.presentation__veille .container__veille {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.container__veille .title-pres {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.container__veille img {
    width: 100%;
    max-width: 400px;
    min-width: 200px;
}




/* Section de mes veille */
.mes-veille {
    width: 100%;
    height: max-content;
    display: flex;
}

ul.list-veille {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

ul.list-veille li {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    gap: 30px;
    box-shadow: 9px 9px 30px -12px rgba(0,0,0,0.3);
    -webkit-box-shadow: 9px 9px 30px -12px rgba(0,0,0,0.3);
    -moz-box-shadow: 9px 9px 30px -12px rgba(0,0,0,0.3);
}

ul.list-veille li img{
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    min-width: 150px;
    object-fit: cover;
}

ul.list-veille .textes {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

ul.list-veille li h3 {
    font-size: var(--h2-font-size);
    color: var(--text-color-black);
}


ul.list-veille li p {
    font-size: var(--p-font-size);
    flex-wrap: wrap;
}

ul.list-veille p.categorie {
    background-color: var(--background-color-yellow);
    max-width: max-content;
    padding: 5px 10px;
    border-radius: 5px;
    flex-wrap: wrap;
    text-align: center;
}

ul.list-veille .btns {
    margin-top: auto;
    display: flex;
    gap: 20px;
}

ul.list-veille .btn {
    position: relative;
    width: max-content;
    border: 2px solid var(--background-color-yellow);
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    color: var(--text-color-black);
    transition: 0.2s;
    text-decoration: none;
}

ul.list-veille .btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--background-color-yellow);
    transition: 0.2s;
}

ul.list-veille .btn:hover {
    background-color: #ffcb3b25;
    transition: 0.3s;
}

ul.list-veille .btn:hover::before {
    width: 100%;
    transition: 0.3s;
}

.mf-cursor {
    color: var(--background-color-yellow);
}

.mf-cursor.-yellow {
    color: var(--text-color-black);
}









@media screen and (max-width: 1050px) {
    ul.list-veille li .textes {
        gap: 20px;
    }
    
    ul.list-veille li {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}



/* Responsive */
@media screen and (max-width: 700px) {
    :root {
        --h1-font-size: 2rem;
        --h2-font-size: 1.5rem;
        --p-font-size: 1rem;
    }

    .veille .content__veille {
        flex-direction: column;
        text-align: center;
    }

    .content__veille .text {
        width: 100%;
    }
}