<div class="footer-item">
    <div class="haut">
        <div class="gauche">
            <h2>Portfolio</h2>
            <p>Je suis passionné par la conception et la création de projets innovants !</p>
            <div class="icons">
                <a href="https://github.com/JustArthur" target="blank"><i class="ri-github-fill"></i></a>
                <a href="https://www.linkedin.com/in/arthur-bourst" target="blank"><i class="ri-linkedin-box-fill"></i></a>
            </div>
        </div>

        <div class="droite">
            <ul class="list">
                <li class="list-item titre">Contact</li>
                <li class="list-item ligne"><a href="mailto:arthur.bourst@proton.me" target="blank">arthur.bourst@proton.me</a></li>
            </ul>

        </div>
    </div>

    <hr>

    <div class="bas">
        <div class="gauche">
            &copy <span id="year"></span> - Tous droits réservés<br>
            Arthur Bourst
        </div>

        <div class="droite">
            <ul class="list">
                <li class="list-item"><a href="https://arthur-bourst.fr/pages/mentions.html">Mentions légales</a></li>
            </ul>
        </div>
    </div>
</div>

<script>
    const year = document.getElementById('year');
    year.innerHTML = new Date().getFullYear();
</script>