<div class="container flex">
    <span class="logo">Arthur.<span class="b">B</span></span>

    <div class="links" id="links">
        <a data-cursor-stick href="https://arthur-bourst.fr/">Accueil</a>
        <a data-cursor-stick href="https://arthur-bourst.fr/pages/etudes.html">Etudes</a>
        <a data-cursor-stick href="https://arthur-bourst.fr/pages/competences.html">Compétences</a>
        <a data-cursor-stick href="https://arthur-bourst.fr/pages/projets.html">Projets</a>
        <a data-cursor-stick href="https://arthur-bourst.fr/pages/certifications.html">Certifications</a>
        <a data-cursor-stick href="https://arthur-bourst.fr/pages/veille.html">Veille</a>

        <a class="btn-download" data-cursor-stick href="https://arthur-bourst.fr/src/pdf/CV - Bourst Arthur.pdf" target="blank">Télécharger mon CV</a>
    </div>
</div>
<div class="burger">
    <i class="ri-menu-line active" id="menu" onclick="navbarMobile('open')"></i>
    <i class="ri-close-line" id="close" onclick="navbarMobile('close')"></i>
</div>

<!-- Scripts de la navbar -->
<script src="scripts/navbar.js"></script>
<script src="scripts/mobileMenu.js"></script>