<div class="container flex">
    <span class="logo">Arthur.<span class="b">B</span></span>

    <div class="links" id="links">
        <a href="https://127.0.0.1:5500/">Accueil</a>
        <a href="https://127.0.0.1:5500/pages/etudes.html">Etudes</a>
        <a href="https://127.0.0.1:5500/pages/competences.html">Compétences</a>
        <a href="https://127.0.0.1:5500/pages/projets.html">Projets</a>
        <a href="https://127.0.0.1:5500/pages/certifications.html">Certifications</a>
        <a href="https://127.0.0.1:5500/pages/veille.html">Veille</a>

        <a class="btn-download" href="https://127.0.0.1:5500/src/pdf/CV - Bourst Arthur.pdf" target="blank">Télécharger mon CV</a>
    </div>
</div>
<div class="burger">
    <i class="ri-menu-line active" id="menu" onclick="navbarMobile('open')"></i>
    <i class="ri-close-line" id="close" onclick="navbarMobile('close')"></i>
</div>

<!-- Scripts de la navbar -->
<script src="scripts/navbar.js"></script>
<script src="scripts/mobileMenu.js"></script>