<div class="container flex">
    <span class="logo">Arthur.<span class="b">B</span></span>

    <div class="links" id="links">
        <a data-cursor-stick href="http://127.0.0.1/Portfolio/">Accueil</a>
        <a data-cursor-stick href="http://127.0.0.1/Portfolio/pages/etudes.html">Etudes</a>
        <a data-cursor-stick href="http://127.0.0.1/Portfolio/pages/competences.html">Compétences</a>
        <a data-cursor-stick href="http://127.0.0.1/Portfolio/pages/projets.html">Projets</a>
        <a data-cursor-stick href="http://127.0.0.1/Portfolio/pages/certifications.html">Certifications</a>
        <a data-cursor-stick href="http://127.0.0.1/Portfolio/pages/veille.html">Veille</a>

        <a class="btn-download" data-cursor-stick href="http://127.0.0.1/Portfolio/src/pdf/CV - Bourst Arthur.pdf" target="blank">Télécharger mon CV</a>
    </div>
</div>
<div class="burger">
    <i class="ri-menu-line active" id="menu" onclick="navbarMobile('open')"></i>
    <i class="ri-close-line" id="close" onclick="navbarMobile('close')"></i>
</div>

<!-- Scripts de la navbar -->
<script>
    //-- Navbar pour les mobiles
    const btnMenu = document.getElementById('menu'),
        btnClose = document.getElementById('close'),
        navbar = document.getElementById('links'),
        body = document.getElementById('body')


    function navbarMobile(event) {
        if(event === 'open') {
            btnMenu.classList.remove('active');
            btnClose.classList.add('active');

            navbar.classList.add('active')
            body.classList.add('overflow')

        } else if (event === 'close'){
            btnMenu.classList.add('active')
            btnClose.classList.remove('active')

            navbar.classList.remove('active')
            body.classList.remove('overflow')
        }
    }


    //-- Changement de la navBar
    const nav = document.querySelector('#nav');

    const onScroll = (event) => {
        const scrollPosition = event.target.scrollingElement.scrollTop;

        if(scrollPosition >  10) {
            if(!nav.classList.contains('scrolled-down')) {
                nav.classList.add('scrolled-down');
            }
        } else {
            if(nav.classList.contains('scrolled-down')) {
                nav.classList.remove('scrolled-down');
            }
        }
    }

    document.addEventListener("scroll", onScroll);
</script>